# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# build output
dist/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# environment
.env

# TypeScript
*.tsbuildinfo

# Android / iOS
android/
ios/